<html>
<head th:replace="~{template :: head}" />
<body>
	<div th:replace="~{template :: logo}"></div>

	<div class="container">
		<div th:replace="template :: card('Login')"></div>

		<div class="card mb-3">
			<form th:action="@{/login}" class="card-body" method="post">
				<div class="form-group">
					<label for="username">Usuário</label>
					<input type="text" name="username" class="form-control" placeholder="Username">
				</div>
				<div class="form-group">
					<label for="password">Senha</label> 
					<input type="password" name="password" class="form-control" placeholder="Password">
				</div>
				<button class="btn btn-primary mt-3" type="submit">Login</button>
			</form>
		</div>
	</div>
</body>
</html>